* {
  /* background-color: #16a085; */
  border: 1px solid red;
}

.box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  background-color: #2ecc71;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 6px;
}

.btn:hover {
    background-color: #0fa84f;
}